DateTime==4.3
enum34==1.1.10
flexpolyline==0.1.0
geopandas==0.9.0
matplotlib==3.4.1
matplotlib-inline==0.1.2
numpy==1.20.2
pandas==1.2.3
pathlib==1.0.1
pickle-mixin==1.0.2
pygeos==0.9
pyproj==3.0.1
scikit-learn==0.24.2
scipy==1.4.1
Shapely==1.7.1
sklearn==0.0
statsmodels==0.12.2
syspath==2.0.4
tqdm==4.48.2
typing==3.7.4.3
